@import play.api.i18n._


@(loginForm: Form[LoginData])(implicit messages: MessagesProvider)

@import helper._
<head>
    <title>Login Page</title>
    <link rel="shortcut icon" type="image/x-icon" href="@routes.Assets.versioned("images/favicon.png")" height="16px">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@@0,300;0,400;0,700;1,300;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
</head>
<body>
    <header>
        <img id="logo" src="@routes.Assets.versioned("images/Logo.png")">

    </header>
@form(routes.AuthenticationController.handleLogin) {
@inputText(loginForm("email"))
@inputPassword(loginForm("password"))
<input type="submit" value="Login">
}
</body>