

/* Define CSS Variables for easy access */
:root {
    --dark-brown: #3B2C26;
    --champagne: #EFE6D9;
    --dark-green: #94BE9A;
    --lighter-green: #C0DFC4;
    --orangey-red: #C85330;
    --lighter-orangey-red: #DD866C;
    --periwinkle: #BCB6FF;
    --lighter-periwinkle: #D7D3FF;
}
.card {
    width: 100%;
    min-width: 250px;
    max-width: 300px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
}

.date {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    width: 80px;
    height: 80px;
    position: relative;
    top: -35px;

}

.card-slider {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 1rem;
}
.profile-icon .passed-event {
    background-color: var(--orangey-red);
  }
  
.profile-icon .upcoming-non-purchased-event {
    background-color: var(--periwinkle);
}
.profile-icon .purchased-upcoming-event {
    background-color: var(--dark-green);
}
  