
/* Define CSS Variables for easy access */
:root {
    --dark-brown: #3B2C26;
    --champagne: #EFE6D9;
    --dark-green: #94BE9A;
    --lighter-green: #C0DFC4;
    --orangey-red: #C85330;
    --lighter-orangey-red: #DD866C;
    --periwinkle: #BCB6FF;
    --lighter-periwinkle: #D7D3FF;
}
body {
    display: flex !important;
    justify-content: space-between;
    flex-direction: column;
    background-color: #EFE6D9;
    font-family: 'Bebas Neue', sans-serif;
    /*font-family: 'Montserrat', sans-serif;*/
    margin: 0;
    color: #3B2C26; /* Default text color */

  }
h2{
    font-weight: bold;
    font-size: 2rem;
}
.login_button{
    background-color: var(--dark-green);
    border: none;
    color: dark-brown;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 25px;
    width: 150px;
    height: 25px;
}

/* Style the main login area */
.login-area {
    margin: 0 auto;
    text-align: center;
    align-self: flex-start;
    justify-self: center;
    width: 100%;
    max-width: 500px;
    padding: 5%;
    background-color: var(--champagne);
}

/* Style the title and input elements */
.labeled_field h1,
.labeled_field  input {
    color: var(--dark-brown);
}

/* Style the submit button */
.labeled_field  input[type="submit"] {
    background-color: var(--orangey-red);
    color: var(--champagne);
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.labeled_field  input[type="submit"]:hover {
    background-color: var(--lighter-orangey-red);
}

.labeled_field > input {
    margin: 20 px;
    border-radius: 25px;
    text-align: center;
}

input::placeholder {
    text-align: center;
    align-items: center;
}

.text_field {
    margin: 10px;
    width: 150px;
    border-radius: 25px;
    height: 25px;
    border: none;
    font-size: 16px;
}

.select_field {
    margin: 10px;
    width: 150px;
    border-radius: 25px;
    height: 25px;
    border: none;
    text-align: center;
    background-color: white;
    color: gray;
    font-size: 16px;
}

.shade-on-hover {
    color: var(--orangey-red);
}

.shade-on-hover:hover {
    color: var(--lighter-orangey-red);
    cursor: pointer;
}

.event-creation-page {
    margin: 10% auto 5px auto;
    text-align: center;
    align-self: flex-start;
    justify-self: center;
    width: 100%;
    max-width: 500px;
    padding: 5%;
    background-color: var(--periwinkle);
    border-radius: 25px;
}

.cancel-creation {
    margin: -10px 0 0 0;
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    height: 25px;
    border: none;
    font-size: 16px;
    text-align: center;
    background-color: var(--orangey-red);

}

.text_field_create {

    margin: 10px;
    width: 200px;
    border-radius: 25px;
    height: 25px;
    border: none;
    font-size: 16px;

}
